@font-face {
  font-family: myFirstFont;
  src: url(../../Snickles.ttf);
}

.banner {
  font-family: myFirstFont;
  width: calc(100% - 40px);
  background-color: whitesmoke;
  color: rgb(38, 0, 255);
  height: 120px;
  border-width: 20px;
  border-style: solid;
  border-image: url("https://i.imgur.com/UuDXoF9.jpg") 30 stretch;
  background-size: 100%;
  font-size: 7em;
  padding: 20px 0px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 9px 30px 11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 9px 30px 11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 30px 11px rgba(0, 0, 0, 0.75);
  white-space: nowrap;
}
