.createUseerBlock {
  width: calc(100% - 410px);
  height: calc(100% - 80px);
  border: solid 5px black;
  position: absolute;
  right: 0;
  top: 70px;
}
.locationDescription {
  width: calc(100% - 400px);
  height: 70px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 3em;
  color: white;
  font-weight: bold;
}
.purple {
  background-color: #884de0;
  border-color: #884de0;
}
.yellow {
  background-color: rgb(255, 217, 0);
}
.pink {
  background-color: #de97d3;
}
.yellowborder {
  border: solid 15px rgb(255, 217, 0);
}
.pinkborder {
  border: solid 15px #de97d3;
}
.red {
  background-color: rgb(151, 46, 39);
}
.redborder {
  border: solid 15px rgb(151, 46, 39);
}
.orange {
  border-color: rgb(80, 26, 22);
  background-color: rgb(80, 26, 22);
}
.blue {
  background-color: #89cae0;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
