.purple {
  background-color: #884de0;
  border-color: #884de0;
}
.yellow {
  background-color: rgb(255, 217, 0);
}
.pink {
  background-color: #de97d3;
}
.yellowborder {
  border: solid 15px rgb(255, 217, 0);
}
.pinkborder {
  border: solid 15px #de97d3;
}
.red {
  background-color: rgb(151, 46, 39);
}
.redborder {
  border: solid 15px rgb(151, 46, 39);
}
.orange {
  border-color: rgb(80, 26, 22);
  background-color: rgb(80, 26, 22);
}
.blue {
  background-color: #89cae0;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.goldenCircle {
  position: absolute;
  left: calc(50% - 175px);
  top: 60px;
  height: 350px;
  width: 350px;
  border: solid 20px gold;
  border-radius: 350px;
  z-index: 20;
}
.monkeytrophey {
  position: absolute;
  left: calc(50% - 165px);
  top: 80px;
  z-index: 30;
}

.sparklegif {
  position: absolute;
  left: calc(50% - 170px);
  top: 60px;
  z-index: 1;
}
.monkeypointstotal {
  border: solid 10px gold;
  border-radius: 40px;
  font-size: 2.5em;
  color: white;
  width: fit-content;
  padding: 0 10px;
  font-weight: bold;
  left: calc(50% - 170px);
  top: 60px;
  z-index: 1;
  margin: 500px auto;
}
