.hide {
  display: none;
}
.testoption {
  width: 100%;
  display: flex;
  background-color: lightslategrey;
  border: solid 1px black;
  font-size: 1.3em;
  padding: 5px;
}
.testNameedit {
  border-right: solid 1px black;
  width: 40%;
  text-align: center;
}
.testStatusedit {
  border-right: solid 1px black;
  width: 40%;
  text-align: center;
}
