/* .createUseerBlock {
  width: calc(100vw - 430px);
  height: calc(100vh - 100px);
  border: solid 15px coral;
  position: absolute;
  right: 0;
  top: 70px;
} */

.yellowborder {
  border: solid 15px rgb(255, 217, 0);
}
.purple {
  background-color: #884de0;
  border-color: #884de0;
}
.yellow {
  background-color: rgb(255, 217, 0);
}
.pink {
  background-color: #de97d3;
}
.pinkborder {
  border: solid 15px #de97d3;
}
.red {
  background-color: rgb(151, 46, 39);
}
.redborder {
  border: solid 15px rgb(151, 46, 39);
}
.orange {
  border-color: rgb(80, 26, 22);
  background-color: rgb(80, 26, 22);
}
.blue {
  background-color: #89cae0;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
