.linkBox {
  width: calc(100% - 80px);
  margin: 40px auto;
  border-radius: 20px;
  border: solid black 4px;
  background-color: rgb(163, 163, 163);
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
