.managementHome {
  width: 400px;
  position: absolute;
  top: 0;
  height: 100vh;
  background-color: tomato;
}
.optionsBox {
  margin: 25% auto;
  width: 80%;
  height: 80%;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(202, 81, 60);
}

.options {
  font-size: 2em;
  color: white;
  font-weight: bold;
}

.locationDescription {
  width: calc(100% - 400px);
  height: 70px;
  position: absolute;
  background-color: rgb(202, 81, 60);
  right: 0;
  top: 0;
  text-align: center;
  font-size: 3em;
  color: white;
  font-weight: bold;
}
.hide {
  display: none;
}
.backbutton {
  background-color: coral;
  padding: 10px;
  border-radius: 10px;
  margin: 0 20px;
  position: absolute;
  top: 20px;
  border: solid 4px rgb(202, 81, 60);
}
